node-red/data/flows.json
[{"id":"a44a2dbc.015c1","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b0088592.123e58","type":"tab","label":"UI","disabled":false,"info":""},{"id":"cdf064c5.a07568","type":"tab","label":"MQ","disabled":false,"info":""},{"id":"44542474.15a3ac","type":"tab","label":"Python Shell","disabled":false,"info":""},{"id":"d23a54b7.6a6728","type":"tab","label":"Video Streaming","disabled":false,"info":""},{"id":"555feb87.0e4094","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#828282","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#4B7930","edited":true},"page-titlebar-backgroundColor":{"value":"#4B7930","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#6db046","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#4b7930","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"true","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"eb6a64d8.33c628","type":"google-cloud-credentials","z":"","name":"jenkins-private-key"},{"id":"2ebcb7a.b94a348","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"74e5793b.545f38","type":"ui_group","z":"","name":"Main","tab":"3b15e685.e6c43a","disp":false,"width":"6","collapse":false},{"id":"c651c960.f82ea8","type":"ui_tab","z":"","name":"Operation","icon":"dashboard","disabled":false,"hidden":false},{"id":"bfd4fe1b.00595","type":"ui_group","z":"","name":"Operation","tab":"c651c960.f82ea8","disp":true,"width":"6","collapse":false},{"id":"3b15e685.e6c43a","type":"ui_tab","z":"","name":"Main","icon":"fa-fire","disabled":false,"hidden":false},{"id":"b9d5607a.6e9fb","type":"ui_group","z":"","name":"Default","tab":"2ebcb7a.b94a348","disp":false,"width":"6","collapse":false},{"id":"b2cf1060.6ce09","type":"ui_group","z":"","name":"pond","tab":"a4c1403.a2775c","disp":true,"width":"6"},{"id":"a4c1403.a2775c","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"ede9e4aa.e78f28","type":"ui_group","z":"","name":"Performance","tab":"ac803296.9ee37","disp":true,"width":"6"},{"id":"ac803296.9ee37","type":"ui_tab","z":"","name":"Performance","icon":"show_chart","order":5},{"id":"ff6f157c.0e5898","type":"inject","z":"cdf064c5.a07568","name":"Interval 10 sec","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":60,"wires":[["6ada5b0a.8ec674"]]},{"id":"520c3604.746408","type":"debug","z":"cdf064c5.a07568","name":"show payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":460,"y":160,"wires":[]},{"id":"ef271782.30c728","type":"post-message","z":"cdf064c5.a07568","name":"azure-service-bus","queue":"basicqueue","connectionString":"Endpoint=sb://mynamespace1436.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=C7sgPmZir8qzfY3XDmGjcXogigx080e+8qwFKQ79AsQ=","x":530,"y":60,"wires":[[]]},{"id":"101ebf1.7c02e41","type":"receive-message","z":"cdf064c5.a07568","name":"receiver","queue":"basicqueue","connectionString":"Endpoint=sb://mynamespace1436.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=C7sgPmZir8qzfY3XDmGjcXogigx080e+8qwFKQ79AsQ=","x":110,"y":160,"wires":[["8168dfd5.e54cd"]]},{"id":"6ada5b0a.8ec674","type":"function","z":"cdf064c5.a07568","name":"add-my-name-func","func":"\ndate = new Date(msg.payload)\nmsg.payload = \"The date is \" + date;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":60,"wires":[["ef271782.30c728"]]},{"id":"8168dfd5.e54cd","type":"function","z":"cdf064c5.a07568","name":"","func":"// msg.payload = \"TSADOK WAS HERE and went home crying\";\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":160,"wires":[["520c3604.746408","b809281.108b1d8","21869b96.aaab34"]]},{"id":"6a082904.0ba818","type":"debug","z":"cdf064c5.a07568","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.translations[0].translatedText","targetType":"msg","x":460,"y":300,"wires":[]},{"id":"21869b96.aaab34","type":"google-cloud-translate","z":"cdf064c5.a07568","account":"eb6a64d8.33c628","keyFilename":"","projectId":"anakatech","sourceLanguageCode":"en","targetLanguageCode":"he","name":"","x":200,"y":300,"wires":[["6a082904.0ba818"]]},{"id":"b809281.108b1d8","type":"google-cloud-language-sentiment","z":"cdf064c5.a07568","account":"eb6a64d8.33c628","keyFilename":"","languageCode":"en","name":"","x":200,"y":380,"wires":[["1793d67c.1400fa"]]},{"id":"1793d67c.1400fa","type":"debug","z":"cdf064c5.a07568","name":"show sentiment","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":390,"y":380,"wires":[]},{"id":"3595c253.d77b7e","type":"ui_button","z":"b0088592.123e58","name":"Start Robot Button","group":"74e5793b.545f38","order":5,"width":"6","height":"1","passthru":false,"label":"Start","tooltip":"","color":"111111","bgcolor":"00000","icon":"","payload":"Starting robot","payloadType":"str","topic":"","x":110,"y":20,"wires":[["86edd862.030888"]]},{"id":"398df637.de582a","type":"ui_gauge","z":"b0088592.123e58","name":"","group":"74e5793b.545f38","order":1,"width":0,"height":0,"gtype":"gage","title":"Speed","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#000400","#e6e600","#ca3838"],"seg1":"","seg2":"","x":370,"y":60,"wires":[]},{"id":"4ad8ee8e.36e0e","type":"inject","z":"b0088592.123e58","name":"","topic":"","payload":"1","payloadType":"num","repeat":"4","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":60,"wires":[["b1921385.dcd2f"]]},{"id":"b1921385.dcd2f","type":"function","z":"b0088592.123e58","name":"","func":"\nmsg.payload = (msg.payload * Math.random()*100).toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":60,"wires":[["398df637.de582a","7ce14875.57a7c8"]]},{"id":"908b0cd7.f28d9","type":"ui_form","z":"b0088592.123e58","name":"","label":"","group":"bfd4fe1b.00595","order":2,"width":0,"height":0,"options":[{"label":"First Name:","value":"first_name","type":"text","required":true,"rows":null},{"label":"Last Name:","value":"last_name","type":"text","required":true,"rows":null},{"label":"Address","value":"address","type":"text","required":false,"rows":null}],"formValue":{"first_name":"","last_name":"","address":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":260,"wires":[[]]},{"id":"2cf62e1c.b14d92","type":"ui_slider","z":"b0088592.123e58","name":"Speed Limit Slider","label":"","tooltip":"","group":"74e5793b.545f38","order":3,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":"5","x":110,"y":160,"wires":[["c1156afb.0f1698","d33edbd.b193928"]]},{"id":"c1156afb.0f1698","type":"ui_gauge","z":"b0088592.123e58","name":"","group":"74e5793b.545f38","order":2,"width":0,"height":0,"gtype":"gage","title":"Speed Limit","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":310,"y":160,"wires":[]},{"id":"b95fe0a9.c0453","type":"ui_audio","z":"b0088592.123e58","d":true,"name":"audio_out","group":"74e5793b.545f38","voice":"en-GB","always":true,"x":360,"y":340,"wires":[]},{"id":"f7698ef.68e6c7","type":"inject","z":"b0088592.123e58","d":true,"name":"","topic":"","payload":"Starting robot now","payloadType":"str","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":340,"wires":[["b95fe0a9.c0453"]]},{"id":"86edd862.030888","type":"ui_audio","z":"b0088592.123e58","name":"","group":"bfd4fe1b.00595","voice":"en-GB","always":false,"x":300,"y":20,"wires":[]},{"id":"84f6f21b.56f6","type":"ui_chart","z":"b0088592.123e58","name":"","group":"b9d5607a.6e9fb","order":5,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":110,"y":400,"wires":[[]]},{"id":"d361ada3.21ac3","type":"pythonshell in","z":"44542474.15a3ac","name":"Python Shell","pyfile":"/data/python-scripts/test.py","virtualenv":"","continuous":false,"stdInData":false,"x":350,"y":100,"wires":[["a71e790b.3eabc8"]]},{"id":"18560ad.22a46f5","type":"inject","z":"44542474.15a3ac","name":"","topic":"","payload":"START_CAR","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":150.5,"y":76,"wires":[["d361ada3.21ac3"]]},{"id":"752c4550.1c961c","type":"debug","z":"44542474.15a3ac","name":"Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":430,"y":260,"wires":[]},{"id":"5740c848.7c6f08","type":"inject","z":"44542474.15a3ac","name":"","topic":"","payload":"GET_INFO","payloadType":"str","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":140,"wires":[["d361ada3.21ac3"]]},{"id":"a71e790b.3eabc8","type":"json","z":"44542474.15a3ac","name":"Convert JSON to Object","property":"payload","action":"","pretty":false,"x":570,"y":100,"wires":[["d1dc6643.3381a8"]]},{"id":"d1dc6643.3381a8","type":"function","z":"44542474.15a3ac","name":"Parse Message","func":"\n// name, age, isEmployed\nmsg.payload = msg.payload.name + \" is \" + msg.payload.age + \" years old\";\nreturn msg;\n","outputs":1,"noerr":0,"x":450,"y":200,"wires":[["752c4550.1c961c"]]},{"id":"98d425dc.932f58","type":"ui_switch","z":"b0088592.123e58","name":"","label":"switch","tooltip":"","group":"74e5793b.545f38","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-fire","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"stop","offcolor":"","x":180,"y":460,"wires":[[]]},{"id":"4bb8c206.1591ac","type":"ui_audio","z":"b0088592.123e58","d":true,"name":"Play Audio","group":"74e5793b.545f38","voice":"en-GB","always":true,"x":750,"y":220,"wires":[]},{"id":"d33edbd.b193928","type":"change","z":"b0088592.123e58","name":"","rules":[{"t":"set","p":"speed_limit","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":200,"wires":[["f4c5cfe.2e3723"]]},{"id":"7ce14875.57a7c8","type":"change","z":"b0088592.123e58","name":"","rules":[{"t":"set","p":"current_speed","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":100,"wires":[["f4c5cfe.2e3723"]]},{"id":"f4c5cfe.2e3723","type":"function","z":"b0088592.123e58","name":"Check Speed Limit","func":"var speed = flow.get(\"current_speed\");\nvar speed_limit = flow.get(\"speed_limit\");\n\nif (speed && speed_limit && speed >= speed_limit ){\n    msg.payload = \"Speed limit exceeded\";    \n} else {\n    msg.payload =\"OK\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":160,"wires":[["4bb8c206.1591ac","23ceb4a1.a3653c"]]},{"id":"23ceb4a1.a3653c","type":"debug","z":"b0088592.123e58","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":160,"wires":[]},{"id":"fdd235a2.a3c528","type":"multipart-decoder","z":"d23a54b7.6a6728","name":"","ret":"bin","url":"http://209.206.162.229/mjpg/video.mjpg","tls":"","delay":0,"maximum":"10000000","blockSize":"1","x":290,"y":100,"wires":[["a0f39f13.1a9ce"]]},{"id":"d47c7614.ecb3c8","type":"inject","z":"d23a54b7.6a6728","name":"Start stream","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":89.83334350585938,"y":100.00003814697266,"wires":[["fdd235a2.a3c528"]]},{"id":"a0f39f13.1a9ce","type":"base64","z":"d23a54b7.6a6728","name":"Encode","x":480,"y":100,"wires":[["34282a82.1bcba6"]]},{"id":"34282a82.1bcba6","type":"ui_template","z":"d23a54b7.6a6728","group":"ede9e4aa.e78f28","name":"Display image","order":1,"width":"6","height":"6","format":"<img width=\"16\" height=\"16\" alt=\"stream test\" src=\"data:image/jpg;base64,{{msg.payload}}\" />\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":657.2569236755371,"y":100.41666603088379,"wires":[[]]},{"id":"727a37cd.d11638","type":"multipart-decoder","z":"d23a54b7.6a6728","name":"","ret":"bin","url":"http://192.168.1.14:8000/video_feed","tls":"","delay":0,"maximum":"10000000","blockSize":"1","x":270,"y":180,"wires":[["5b1ecdec.4355c4"]]},{"id":"dcab9736.16a6f8","type":"inject","z":"d23a54b7.6a6728","name":"Start stream","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":90,"y":180,"wires":[["727a37cd.d11638"]]},{"id":"5b1ecdec.4355c4","type":"base64","z":"d23a54b7.6a6728","name":"Encode","x":460,"y":180,"wires":[["149cd727.3eff89"]]},{"id":"149cd727.3eff89","type":"ui_template","z":"d23a54b7.6a6728","group":"ede9e4aa.e78f28","name":"Display image","order":1,"width":"6","height":"6","format":"<img width=\"16\" height=\"16\" alt=\"stream test\" src=\"data:image/jpg;base64,{{msg.payload}}\" />\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":640,"y":180,"wires":[[]]},{"id":"bbd311e8.e686b","type":"inject","z":"cdf064c5.a07568","d":true,"name":"JSON","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":100,"wires":[["6fb556ab.517f48"]]},{"id":"8106c05d.119b7","type":"post-message","z":"cdf064c5.a07568","name":"azure-service-bus","queue":"basicqueue","connectionString":"Endpoint=sb://mynamespace1436.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=C7sgPmZir8qzfY3XDmGjcXogigx080e+8qwFKQ79AsQ=","x":530,"y":100,"wires":[[]]},{"id":"6fb556ab.517f48","type":"function","z":"cdf064c5.a07568","name":"JSON","func":"\n// date = new Date(msg.payload)\n// msg.payload = \"The date is \" + date;\n\nmsg.payload = {\"id\":\"robo-car\",\"name\":\"Tsadok\",\"work\":\"Akamai\"};\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":100,"wires":[["8106c05d.119b7"]]},{"id":"6288affa.2ed9f","type":"inject","z":"d23a54b7.6a6728","name":"Start stream","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":90,"y":260,"wires":[["128bec8d.daccc3"]]},{"id":"48f7a0c6.472b1","type":"base64","z":"d23a54b7.6a6728","name":"Encode","x":460,"y":260,"wires":[["1c0aca6d.cf9626"]]},{"id":"1c0aca6d.cf9626","type":"ui_template","z":"d23a54b7.6a6728","group":"ede9e4aa.e78f28","name":"Display image","order":1,"width":"6","height":"6","format":"<img width=\"16\" height=\"16\" alt=\"stream test\" src=\"data:image/jpg;base64,{{msg.payload}}\" />\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":640,"y":260,"wires":[[]]},{"id":"128bec8d.daccc3","type":"http request","z":"d23a54b7.6a6728","name":"","method":"GET","ret":"bin","paytoqs":false,"url":"http://192.168.1.14:8000/","tls":"","persist":false,"proxy":"","authType":"","x":280,"y":260,"wires":[["48f7a0c6.472b1"]]}]